[2016-12-03 06:27] liuhengli opened #4 "How install tensorflow on Raspberry"
You can tell how install tensorflow on  Raspberry? thanks

[2016-12-04 19:31] RyanZotti commented on #4
@liuhengli I was able to install TensorFlow on the Pi after following the instructions here: https://github.com/samjabrahams/tensorflow-on-raspberry-pi/

[2016-12-05 00:27] liuhengli commented on #4
@RyanZotti thanks

[2016-12-05 00:55] #4 closed

[2017-04-03 18:07] exelban opened #12 "Image size"
Did you try to resize input image to 128x128 or smaller?
Because now you are working with so big images, and it takes too much time to train nn.
And what FPS you receive from raspberry pi on computer?

[2017-04-16 21:29] RyanZotti commented on #12
I haven't tried that, but that's a good idea. I've tried max pooling, which effectively shrinks each dimension by a factor of two, but it didn't seem to improve performance much. I'm training on a GPU, so training is relatively fast.

During data collection I was able to capture about 20 frames per second from the ffmpeg utility on the Pi. However, during live tests after model deployment, I was o

[2017-04-16 21:51] exelban commented on #12
@RyanZotti I’m working on the same project.
I’m training network on GPU too, but you use too big image size. Try 128x128 or smaller.

Next problem is data collection. Best off all its run webserver on rpi, stream video to this web page throw ffmpeg. And connect to rpi via VNC. I receive > 30fps.
Ffmpeg is not the best solution better use PiCamera.

[2017-04-16 22:08] RyanZotti commented on #12
@exelban I agree. The Raspberry Pi camera was my first choice, but I kept ruining my cameras, probably because I have too many exposed wires in my car and accidentally shorted something. The web cam I use has a protective plastic coating around the camera wires so the camera is much more durable. When I went with the web cam I had to use ffmpeg, although I tried alternatives. Ffmpeg was painful to

[2017-04-16 23:00] exelban commented on #12
@RyanZotti i use rpi camera with fish-eye lens. It give me full view of "road".
I run few processes on rpi:
- car controller;
- web server for controlling car and writing data.

I simply detect key pressing (arrows) and write it to frame when key is pressed.I have rc car with servo drive for steering so i use arduino to control.

For training i use few hour of drive on 30fps, so usually its 540000

[2017-04-16 23:05] exelban commented on #12
@RyanZotti also try to change road. You can just buy few A1 and draw dark road lines. Its will be better to recognise the road for nn.

[2017-04-16 23:25] RyanZotti commented on #12
@exelban That's very interesting. I'm also stuck at ~70% accuracy. Do you think that could be due to the fact that we're using arrow keys instead of something more granular like angular displacement? After inspecting my data, I see a lot of cases where my car could arguably go either way, for example, left or straight on a wide stretch of road where a more precise measurement might have better cap

[2017-04-16 23:32] RyanZotti commented on #12
Are you absolutely sure you need python 3.5? I was able to get Tensorflow working on the Pi with ease by pulling the binaries following the instructions [here](https://github.com/samjabrahams/tensorflow-on-raspberry-pi/). The instructions use python 3.3 though. Even if you get it working, you'll probably arrive at the same conclusion I did -- the Pi is far too slow for making predictions in real t

[2017-04-16 23:43] exelban commented on #12
@RyanZotti i read this paper, but this model gives me only ~50%.
I have tried different controls. But also i dont set "full power" to drive when key is pressed. I have function witch increase value from minimum to max in time. It's give me opportunity to better control and better data for training.

And this paper is only theory, i dont find any examples. Maybe this model work in their simulation

[2017-04-16 23:47] exelban commented on #12
@RyanZotti i write for my degree work system for recognition road lines and following approach them on opencv. So i have car, road, rpi and in free time i collecting data and trying to make similar system with nn for myself (and for github of course)).

[2017-04-17 00:21] RyanZotti commented on #12
@exelban Ok, I'll take a look at DriveWorks. I never saw that before.

Have you posted your code on GitHub? I couldn't find anything on your GitHub profile.

The 50% to 70% accuracy jump is huge. Did that increase mostly come from the canny edge detector? How many color channels do you use for your image? Just one for black and white?

[2017-04-17 00:33] exelban commented on #12
@RyanZotti if you want i can send you documentation for DriveWork (i hope that nvidia does not ban me for that) on email. Because their check submits for a few month(
A want to post all code, but dont have enough time to clean up all and write docs.

I dont make tests with preprocessing image, now in free time i try to improve opencv code( But in work on this i have some ideas for nn.

I working w

[2017-04-17 00:49] RyanZotti commented on #12
I don't want you to get in trouble for sending me unauthorized DriveWork documents. I'll try to find some other way to access the docs. Until just a few minutes ago I hadn't read the text at the bottom that says:

Which research institution are you part of? Is that how you got access to the SDK?

If you could replicate the canny edge detector preprocessing for your self driving car on the cifar10

[2017-04-17 01:00] exelban commented on #12
@RyanZotti i just write my university title. And that im writing my degree work and want to read how DriveWork work.

I have cifar10 [repo ](https://github.com/exelban/tensorflow-cifar-10) (its not for self driving, its just object recognition dataset), max i receive 76% on this model. But its not better result. I just use this nn for testing performance on different system.

[2017-04-17 02:02] exelban commented on #12
@RyanZotti receive next results on Raspberry Pi 3:
- 1 image from cifar10 takes 310ms;
- 30 images from cifar10 takes 4.12s;
- 30 images from cifar10 takes 7.68s.

The same on gtx 960 4GB:
- 1 image from cifar10 takes 650ms;
- 30 images from cifar10 takes 960ms;
- 30 images from cifar10 takes 1.14s.

And i dont understand why one image quickly process on RPi than on gtx 960.
Tomorrow will make mor

[2017-04-17 02:39] RyanZotti commented on #12
@exelban That's comparable to what I got on the Pi.

I've never tested GPU latency, but those results make sense given that GPUs are built for batch parallelization (i.e., throughput) and not lead time like CPUs. I've only heard of people using GPUs for training (batch) not for making predictions in real time. Anyways, your laptop/desktop's CPU should be able to process a single image in 20-30 ms

[2017-04-17 08:56] exelban commented on #12
@RyanZotti car's dataset

[2017-04-17 13:54] exelban commented on #12
@RyanZotti run alexnet model on raspberry with trained data (3k iteration). Without any preprocessing.
So i receive next results:
- [INFO] elasped time: 19.86
- [INFO] approx. FPS: 5.03

I think then after adding preprocessing i will lose 100-200ms on each frame, but nn will be faster too. Because image will be smaller and model will be have less variables.

[2017-04-22 21:38] RyanZotti commented on #12
@exelban The numbers between 60000 - 120000 represent your steering target/response variable? Do those numbers represent degrees or something else? For example, does 60000 correspond to the most extreme left turn and 120000 the most extreme right turn? I'm not sure how to interpret those numbers. They also seem to be really large.

If I understand your second comment correctly, AlexNet has around

[2017-04-22 22:25] exelban commented on #12
@RyanZotti yes, its represent steering (left - 120000, right - 60000).
I make repo with collecting data from rpi. You just need run 2 python scripts on rpi, and start web server on laptop. Receive 18-25 fps. App collecting frames and make .txt file with control data.
If you want to try, i will open repo. Because now i make secret (dont have time to make readme).

[2017-04-22 22:32] RyanZotti commented on #12
@exelban No rush. I'm just working on optimizing my neural networks at the moment. I probably won't make any changes to how I collect data or label left and right turns, since that would require a major overhaul of my code.

[2017-04-22 22:37] exelban commented on #12
@RyanZotti ok, now i dont have time for playing with car. At first i want to change car model, because now i have 1:10 and cant drive in room(

If you will be interested: https://github.com/exelban/raspberry-pi-camera-server.
But you must to change file drive.py and write your code for steering car.
Also in app.js line 47 and 60, 64 change parameters witch calculate for me value from 0 to 70 to my

[2017-04-22 22:59] RyanZotti commented on #12
@exelban Using the joystick sounds like a good idea. That's probably a lot better than using arrow keys. I'll take a closer look at your code once I've finished all of my neural network optimizations.

[2017-04-27 15:32] AlickCameron commented on #12
Good discussion.

[2017-06-11 08:41] #12 closed

[2017-07-01 23:25] RyanZotti commented on #12
@exelban I finally figured out what was wrong with the deep convnet. The deep convnet is now by far my best model. I had to replace:

    cross_entropy = tf.reduce_mean(-tf.reduce_sum(y_ * tf.log(y_conv), reduction_indices=[1]))

with:

    cross_entropy = tf.reduce_mean(tf.nn.softmax_cross_entropy_with_logits(logits=pred, labels=y_))

You can see more of an explanation [here](https://github.com/t

[2017-08-06 23:53] amiltonwong opened #82 "Item list"
Hi, Ryan,

Could you reply the item list for the self driving toy car , it'll be more helpful if the direct purchase links for the items are included.

[2017-08-21 02:33] sprajosh commented on #82
- Toy Car - $30
- Raspberyy Pi - $32
- Raspberyy Pi Protective Case - $10
- Logitech C210 Webcam - $20
- 64GB Class 10 MicroSD card - $15
- External Battery - $10
- Copious amount of Wire - $20
- Soldering Equipment - $25
- UltraSound - $5

I hope this helps

[2017-08-23 18:25] ManasKumarPanigrahi commented on #82
Hi Ryan, how can I get to know about the circuit connection?

[2017-08-23 18:27] ManasKumarPanigrahi opened #89 "Circuit connecttion"
Hi Ryan, how can I get to know about the circuit connection?

[2017-08-23 19:09] RyanZotti commented on #82
@amiltonwong I purchased about half of the items online, but the other half I bought at a local electronics store (Microcenter, in my case). Some of the items I bought online were extremely cheap but had to be shipped from overseas, and shipping time was 3-4 weeks in some cases. What I learned is that I'm far too impatient to wait multiple weeks to begin tinkering, so I recommend buying everything

[2017-08-23 19:11] RyanZotti commented on #89
@ManasKumarPanigrahi Yes, this is a common request I've gotten. I definitely need to document how I did the wiring. I plan to have the wiring documentation finished in 1-2 weeks. I'll reply back here once complete.

[2017-08-23 19:33] ManasKumarPanigrahi commented on #89
thank u. waiting for your reply.

[2017-09-05 00:42] RyanZotti commented on #89
@ManasKumarPanigrahi I'm about halfway through the wiring docs. It's taking awhile because there are a LOT of wires, and at the same time I want to be sure I make my docs accurately. If you need something in the interim, these are the two sites I originally used: [motor](https://business.tutsplus.com/tutorials/controlling-dc-motors-using-python-with-a-raspberry-pi--cms-20051), and [range sensor](h

[2017-09-09 22:59] RyanZotti commented on #89
@ManasKumarPanigrahi I've completed the circuitry diagram. You can find a magnified example [here](https://user-images.githubusercontent.com/8901244/30244462-0e34e4be-9573-11e7-8ea8-81f1203c9492.png). It's also now on the main page/readme. Let me know if you have any questions.

[2017-09-25 16:42] GoldenWings commented on #82
Hi,
Would you mind telling me the name of ultrasound items to go and search for, because i see ultrasounds probes that are 1000$+ so i am pretty sure i am looking for something else :)
And what kind of Soldering Equipment?, pictures or names would help alot.
Thanks in advance.

[2017-10-02 18:49] 0ca commented on #82
I saw some people using these ultrasonic sensors:
https://www.sparkfun.com/products/13959 ($3.95)

[2017-10-05 22:35] RyanZotti commented on #82
@0ca Yes, HC-SR04 is what I used. You can buy them from lots of places and they're usually pretty cheap (less than or about $5).

@GoldenWings I only use one, but that's just because the car I use is very small and can't fit more (the wiring takes up a lot of space). On bigger cars I've seen people use as many as 5. If you put some in the back you can teach the car how to parallel park. I saw this

[2017-12-04 07:22] innat opened #109 "FFSERVER"
Hello RyanZotti, I've some problem with using ffmpeg. i use `cd /usr/src/ffmpeg` ... after i run

 `sudo ffserver -f /etc/ff.conf_original & ffmpeg -v quiet -r 5 -s 320x240 -f video4linux2 -i /dev/video0 http://localhost/webcam.ffm`

It shows no such file directory for /`etc/ff.conf_original `... 😐

[2017-12-05 03:41] RyanZotti commented on #109
@innat-2k14 It didn't come pre-installed on my Raspbian OS -- have you already installed it? Unfortunately I didn't take notes on how I installed ffmpeg. It's one of those things that, once you set it up, you never have to mess with it again. So I didn't take good notes at the time.

[2017-12-05 08:56] innat-2k14 commented on #109
Thanks , it solved anyway 👍

[2017-12-05 08:57] innat-2k14 commented on #109
Did you face any storage problem ? I use 16GB though i run out of storage .

[2017-12-06 03:52] RyanZotti commented on #109
@innat-2k14 Yeah, I ran into storage issues almost immediately, so I bought a 100 GB micro storage card for $20. It's tiny, barely the size of a fingernail. That was a year and half ago, and now that I look on Amazon I can see that there are 256 GB cards for only $25! Storage has gotten way cheaper over time.

[2017-12-08 11:54] innat opened #110 "REST API"
I'm facing some problem to use it on RPi , Can you please suggest me how to implement Restful Api on Raspberry Pi ? This is my first time i use REST API and implementing it on RPi and it's making some confusion to me.

[2017-12-09 17:14] RyanZotti commented on #110
@innat-2k14 I use the REST API to send commands to the car. You can find the exact code here: https://github.com/RyanZotti/Self-Driving-Car/blob/master/drive_api.py

The way I have written the code is probably not easy to understand, and there is no doubt I could have designed it better somehow. My web server has three APIs in the same script: 1) hosts a super basic html page with javascript to ac

[2017-12-17 17:19] RossMelbourne opened #111 "Reinforcement learning"
Hi Ryan,
Great project and thank you for sharing it with us.  I am trying to learn reinforcement learning and I wondered if you considered using RL instead of supervised learning?  Since you are doing inference (predicting the cars next steering action) wirelessly from a laptop I assume you could also train a neural net using Deep Q Learning the same way.  Just curious about what you think of that

[2018-01-07 06:56] poorboy44 opened #112 "/etc/ff.conf_original"
Hello Ryan:

I am having trouble getting the video to stream. Is there any way you could post your ```/etc/ff.conf_original``` file?  I noticed that in ```save_streaming_video_data.py``` you open a connection to the URL like this:

[code]

The ```/etc/ffserver.conf ``` that came with my ffmpeg installation didn't have any references to webcam.ffm. If you could post your config file that could help

[2018-01-08 20:34] prateekralhan commented on #89
@RyanZotti Firstly, Your project is really superb!! Kudos to you!! I had just one doubt that can you please help me with this thing... that how and where did you interface your camera with your Pi.

[2018-01-09 02:09] RyanZotti commented on #111
@RossMelbourne thanks for the note. I've considered RL, but decided against it because I figured that the car would crash too much in the beginning. RL is primarily about learning by intelligent trial and error and I figured there would be a lot of bad crashes if I started RL with weights that were randomly initialized. It might make sense to try RL after pre-training in a supervised fashion, simi

[2018-01-09 03:02] RyanZotti commented on #112
Hi @poorboy44 The contents of my `/etc/ff.conf_original` file look like this:

[code]

[2018-01-09 12:38] ScienceZhi opened #113 "Thank you for the code. I have achieved it."
Hi @RyanZotti
I'm from China.A senior student.
I've seen your speech in Youtube.
I'm interested in artificial intelligence and autopilot(I majored in communication engineering).
I just wanted to express my  gratitude.Thank you for your code.

[2018-01-15 10:28] innat-2k14 commented on #109
Hello @RyanZotti , took a short pause for academic exam. However, yesterday i tried to move on with video streaming process with `ffmpeg` and my `/etc/ffserver.conf` file content look like below. Now , When i click `webcam.mjpeg` in the available status tab in `status.html`, page just keeps loading. Shouldn't i get GUI on the streaming video or what should be the further output in this point  :con

[2018-01-15 21:15] RyanZotti commented on #109
@innat-2k14 Unfortunately I didn't document any of my ffmpeg work, so I don't recall if I had to install other libraries. It's one of those things that's extremely painful to install successfully the first time, but the when you get it working once you never have to touch it ever again. If I ever have to reinstall ffmpeg (e.g., on a different Pi or for a different car) I'll make sure to document i

[2018-01-15 21:17] RyanZotti commented on #89
@prateekralhan I used a USB webcam, so I just plugged it into one of the Pi's 4 USB ports.

[2018-01-15 21:20] prateekralhan commented on #89
@RyanZotti Sir, Thanks for the Info!! You seem to be using a Logitech webcam, Can I interface another camera or even the raspberry camera?? Will the same codes work for It? Or Do I need to Make any changes in its code!

[2018-01-15 21:21] RyanZotti commented on #113
@ScienceZhi Congratulations! I'm glad you got it to work. It is definitely a very long and difficult project, and not many people are able to complete it, so finishing it is a major accomplishment.

[2018-01-15 21:30] RyanZotti commented on #89
@prateekralhan Yes, you can use the Raspberry Pi camera. The software for the Pi camera is much simpler and easier to use, however it is much less durable. My car has many exposed wires, and I kept accidentally destroying my Pi cameras. The Logitech webcam is cheap and durable -- its wires are protected by a thick layer of plastic unlike the Pi camera. The Logitech cable is also longer, so I was a

[2018-01-15 21:34] prateekralhan commented on #89
@RyanZotti Thank You So Much Sir!! I am Doing a bit different!! I am trying to setup my smartphone's camera for now!! As I have already spend a lot!! Just trying to create an app that sort of acts as both a TCP server,receiving streamed image frames from a video streaming app on a phone and
a user interface allowing a human driver to control the car with the cursor keys or mouse, sent to an RC uni

[2018-01-15 21:37] RyanZotti commented on #89
@ManasKumarPanigrahi I haven't written code for a phone before, but if it runs Linux I would just use Python's `tornado` package for the TCP server like I did with the Pi. I'm not sure how you would stream the video, though I guess it's possible you could use ffmpeg for that as well. It's definitely possible to use a phone -- I've seen others successfully use a phone.

[2018-02-09 10:29] zfhall opened #114 "Output Video Speed?"
Hello @RyanZotti

After collecting training data I noticed that when I watch the output.mov file after a session, the video is greatly sped up and thus shorter than it should be.  Is this intended or is it a fault on my end? I'm guessing its not supposed to be this way as the time stamps do not match up with the video.  Any ideas?

Z

[2018-02-09 12:03] zfhall commented on #114
A bit more info... Both my stream and .conf file have framerate set to 5fps, however the output.mov is 20fps. Does this even matter or will the correct commands still be assigned to the correct frame in the .npz file?

[2018-02-09 15:26] yashtrivedi96 commented on #109
Hello, I'm following this repository for building self driving car. Do I need to clone this repository on 2 devices that is Raspberry pi and my laptop?. I have install ffmpeg on my Raspberry. What is the next step that I need to do on my Raspberry pi? Also what I need to do on my Laptop?
I'm not sure what script to run on what devices and where to check for the output?
Could you please guide me.

[2018-02-13 14:55] zfhall commented on #114
Firstly apologies for the multiple posts, I've been incrementally solving my own issue.

Ok so i found the issue, the save_streaming_video_data.py script saves the frames into a video file at 20fps. My stream was set to 5fps, hence the "sped up" output video.

This brings me to a new question. What is the optimal fps to use? @RyanZotti your ffmpeg command sets the stream to 5fps

`ffserver -f /etc

[2018-02-13 15:50] zfhall commented on #109
@yashtrivedi96 yes you need to clone the repo on both devices.

# On the Pi
After installing ffmpeg you have to setup an ffserver.conf file to stream in mjpeg format. the file is usually located in` \home\etc` however i saved a copy into `/usr/src/ffmpeg` and used that

Below is the config that Ryan used.

[code]

Then you can `cd /usr/src/ffmpeguse` and use the following command to run the server

[2018-02-13 16:16] yashtrivedi96 commented on #109
@zfhall Thanks a lot!

[2018-02-13 16:23] RyanZotti commented on #114
@zfhall thats a great catch. I forgot that I had changed the frame rate in the ffmpeg command but not in OpenCV. That was from a long time ago when I was dealing with performance / latency issues in the Pi and I forgot to mention it in the docs.

Anyways, it shouldn’t matter because I record the time stamp of each frame outside of ffmpeg and Open CV. I use the time stamps to assign commands / labe

[2018-02-14 10:40] zfhall commented on #114
@RyanZotti thanks for your reply. I had a feeling that its wasn't supposed to be mismatched like that.

Ok its good to know that id doesn't matter anyway. Its makes sens now you mention it. Were you using 20fps then? I may try with 10fps to avoid any problems with having too many similar frames.

cheers!

[2018-02-14 18:27] RyanZotti commented on #114
@zfhall Yeah, my OpenCV code uses 20 fps.

It’s also worth mentioning that, depending on the complexity of the machine learning model you train, the self driving functionality might only be able to process 2-5 fps anyways. Bigger models process frames slower. It takes about 200-400 milliseconds to process a frame for my bigger models.

[2018-02-15 12:05] zfhall commented on #114
@RyanZotti thats interesting, are those figures from running on the pi or laptop? If i have time I may play around with different frame rates and sizes. Tempted to go for 128X128 from the start to save on training time.

[2018-02-15 17:51] RyanZotti commented on #114
@zfhall Those figures are from my laptop. The Pi is significantly slower, something like 5-10x. So it’s much faster to stream predictions to the Pi from a laptop or other remote server. Real self driving cars basically have an on-board GPU.

[2018-02-15 17:55] RyanZotti commented on #114
Implementing max pooling in your convoluted neural net would probably have a similar effect to explicitly reducing frame size, so I never bothered reducing frame size explicitly, but you can try. Also, I highly recommemd you train on a GPU, which will train about 8-14x faster than a CPU. AWS has a lot of good GPU options for cheap.

[2018-02-15 18:19] zfhall commented on #114
@RyanZotti Thought so, I would have been impressed if the pi could do that! thanks for the CNN tip. However I plan on testing single layer NN, DNN and, CNN for comparison purposes. I Looks like you have already done this but id like to give it a go myself. So perhaps the smaller frame sizes will help with the others.

In regards to training on a GPU, My laptop has an Nvidia gtx860m, Its not great

[2018-02-16 06:30] prateekralhan commented on #114
@RyanZotti , Sir. Like You used the RC Car. I myself made an RC Transmitter and receiver and made the car ready to drive. My Pi is also ready with the codes and all. Just training the model is left. But, Building the RC car myself, cost me a lot of time. Can You please provide me the training dataset that you made for your car!! Because, it is really time consuming, and I have less time left @Ryan

[2018-02-16 09:40] RyanZotti commented on #114
@prateekralhan The data set is huge, about 80-100 GB last time I checked (multiple hours of training data), so it’s not something I can easily send you. I have it hosted in S3, but AWS charges me for download requests by GB that come from outside of AWS, and if I open up my data set to the whole world it would probably get downloaded a lot and end up costing me a lot of money. Also, things like co

[2018-02-16 16:57] prateekralhan commented on #114
@RyanZotti  Sir, Thank You for taking out your time to hear out my concern!! I checked the udacity dataset, but isn't it meant for realtime CARS in the world, as in the streets, with other cars and stuff...But here, just like urs, I made a simple track using white A4 sheets... Then how can it be used here Sir!!

[2018-02-16 17:08] RyanZotti commented on #114
@prateekralhan It can’t be used for the RC car you built, but it’s enough to be a stand alone machine learning project, something you could complete on time. If your project is due in less than 6 weeks you likely won’t have enough time to complete the RC car project with RC car training data. The machine learning is the hardest part and takes at least a few months to master.

[2018-02-17 10:22] prateekralhan commented on #114
@RyanZotti  Sir, Regarding the ML part, Its all done! Earlier i wasn't comfortable with it..But later on I did that coursera course on ML by Mr. Andrew Ng, and I successfully learnt it, passed its assignments too. So, the codes are ready for the car, just the training dataset was the issue, due to shortage of time...

[2018-02-18 13:12] zfhall commented on #114
@prateekralhan If you make a track that is a circuit then you can collect a large amount of training data in a relatively short amount of time. And maybe buy a spare battery for your car so you can just swap it out and continue collecting data. I have managed to collect around 18,000 frames (30 mins driving) in 50 mins before, and that's at 10fps so if you're recording at 20fps it will be double!

[2018-02-18 13:17] prateekralhan commented on #114
@zfhall...Sir, the 18000 snaps u took..like u made a code or something out to take snapshots of the live video that is being streamed or You manually took them?

[2018-02-18 13:39] zfhall commented on #114
@prateekralhan the frames are taken from a mjpeg stream. Open CV is used to save the stream into an .mov file.  Im using a lightly modified version of @RyanZotti code but the technique is the same. If you read the readme and study the code for this repo it should make sense.

[2018-03-02 17:50] zfhall commented on #114
@RyanZotti I was wondering how many frames were in your final dataset? And what kind of results did you get when training single layer, deep, and conv nets? I am working with around 100,000 frames and getting 65% and 69% training accuracy for the single layer and deep nets respectively.

Currently I am in the middle of training a deep conv net so we'll see how that goes.

[2018-03-04 01:26] zfhall opened #115 "TensorBoard Visualisation"
@RyanZotti First of all I apologise for how many questions I have had recently, I'm a real novice when it comes to Tensorflow and ML so I need all the help I can get! So thank you in advance if you are sparing the time to read this.

Currently I'm trying to figure out how to implement  accuracy and loss visualisation into your code. It seems you have already done this somewhat, however I cannot ge

[2018-03-04 02:03] RyanZotti commented on #114
First, @zfhall , very well done. That's not sarcasm, that's a genuine compliment. Of the hundreds of people following this repo, I think you are the only person to have actually gotten this far. This is a massive, complicated, and very time consuming project that requires a tremendous amount of dedication. Getting this far is a significant accomplishment.

Now, to answer your question: I have exac

[2018-03-04 02:16] RyanZotti commented on #115
@zfhall Great question. Short answer is that my TensorBoard code is broken because I had started to dismantle it. I used to have working TensorBoard functionality, but back when I first started the project Google kept changing the TensorBoard API and it was a pain to keep the TensorBoard code updated. And on the other hand I felt there wasn't much to gain from TensorBoard. I never really found it

[2018-03-04 03:02] RyanZotti opened #116 "Improve Deployed Model's Autonomous Driving Behavior"
@zfhall You've probably noticed that I haven't updated this repo in a little while. That's mainly because I've hit a wall on how to improve the car's disengagement event frequency (when I have to intervene because the model has made a poor driving decision). In particular, the car does poorly on sharp turns and doesn't know how to correct itself once it's gotten in a bad situation (it only sees th

[2018-03-04 14:49] fakhirali commented on #111
Doing just RL would not be practical as you would have to reset the position of the car each time and it would take hours to train. I was thinking if there is a way to make a simulated environment in Unity3D and then train it in the environment and then test it in the real world. Though the environment would have to behave very similar to the real world. What do you think?

[2018-03-04 18:50] zfhall commented on #114
Thanks @RyanZotti ,  that's very kind of you! I have been lucky enough to have lots of time to spend on this project and have somehow got this far despite my limited knowledge. I'ts been quite the journey and I feel I have learned a lot from the project.  I definitely wouldn't have struggled without your code and was  inspired by your PyData presentation so thank you again!

Its good to see that y

[2018-03-04 19:05] zfhall commented on #115
@RyanZotti That makes sense. Many of the tutorials I have looked at seem to use outdated code for TensorBoard and I have ran into many problems because of this.

I wanted to use TensorBoard to visualise accuracies , and cross entropy losses. Mostly because I prefer things visualised and work with plots on a daily basis so its just the way I like to do things. I also don't plan on putting this proj

[2018-03-04 19:18] RyanZotti commented on #115
@zfhall If all you're trying to do is visualize the accuracy / loss, then writing to a file and using something like python's Seaborn [Seaborn](https://seaborn.pydata.org/) or [Matplotlib](https://matplotlib.org/) would probably be easier and less prone to changing code. Both libraries have been around much longer than TensorFlow and have much more stable code examples on Google.

[2018-03-04 23:26] zfhall commented on #116
@RyanZotti  great post! I'll reply properly when I have the time to give a decent reply as there is lots to talk about regarding this. So please know I haven't missed your post.

Cheers,

Zak

[2018-03-06 23:48] zfhall commented on #116
@RyanZotti  great post! In regards to “disengagement event frequency" I seem to have a similar problem. I just track tested a slightly modified version of your deep conv net with batch norm (98.4% accuracy from 40 Epochs) and had surprisingly mediocre results. My car performs relatively well on the turns (full U-turns) sometimes taking the turns early sometimes, late. It does better on left and tu

[2018-03-06 23:52] zfhall commented on #115
@RyanZotti Thanks for the info. I think ill just use matplotlib as i'm more familiar with it and your right it will be easier than this tensor board stuff!

[2018-03-07 04:59] RyanZotti commented on #116
@zfhall Have you tried flipping the images about a vertical axis? That could solve your bias towards a particular side. I flip all my images (even the straight ones, which still wind up with a command of straight), so it effectively doubles my dataset and adds some diversity.

For better or worse it's good to hear that you're facing similar issues. I've never really had someone I could compare not

[2018-03-07 05:08] RyanZotti commented on #116
Now that I think about it, if the model is strongly overfitting like I suspect, it should in theory be able to at least overfit to the same exact track it was trained on. My dataset is pretty diverse (I've used various obstacles, furniture, etc). Have you tried driving it around, immediately training on (only) the data you just created, and then deploying right after to the same track? I might try

[2018-03-07 17:43] zfhall commented on #116
@RyanZotti Yes my images are also flipped which makes the bias even more strange. However come to think of it I remember the car struggling most with one specific right hand corner, rather than having an overall left hand bias. To give some background, my entire dataset was collected on the same oval track. This same track is the one that I deploy the model on.  So  I think that answers the questi

[2018-03-10 04:25] RyanZotti commented on #116
@zfhall I use a CPU during deployment since I have a Mac, which doesn't have an Nvidia (and thus Tensorflow-supported) GPU. I do use AWS GPUs during training, and while there is no doubt I'd increase network latency with the extra hop to AWS if I also used GPUs in deployment, the reduction in model/Tensorflow execution time (the obvious bottleneck at the moment) would probably result in a noticeab

[2018-03-18 08:57] AnjanaNiranjan opened #119 "FFmpeg"
How do I install FFmpeg?

[2018-03-31 02:11] javierrcc522 commented on #119
https://www.hackster.io/whitebank/rasbperry-pi-ffmpeg-install-and-stream-to-web-389c34
this might help but be aware that ffserver has been removed from newer release so you are going to figure that one out

[2018-04-03 15:07] zfhall commented on #116
@RyanZotti  apologies for the (very) late reply, my workload has been intense recently! Thanks for the tips on measuring latency and using deconvolution! I think I will definitely try this out when I get the time.  Also thanks for the info on  these other projects. I actually came across both the "Online-learning" and "DIYRobocars" projects before, but it was when I knew close to nothing about mac

[2018-04-03 15:08] #115 closed

[2018-04-03 15:37] zfhall opened #120 "Possible Issue with "self.images_per_epoch" in Dataset.py"
@RyanZotti perhaps you can clear this up for me. Notice in the code below for Dataset.py, `self.images_per_epoch = int(self.train_metadata_summaries['image_count']* self.train_percentage)` instead isn't `int(self.train_metadata_summaries['image_count'])` the amount of images per epoch, as the folders have already been split? Why multiply it by the train percentage again? Maybe I have just confused

[2018-04-05 15:53] #120 closed

[2018-04-06 02:48] RyanZotti commented on #120
@zfhall Yes, that's a good point. Now that I look at it, I'm not sure why I did it that way. I think you're right that it's a bug. Nice catch. I also think I mistakenly hard-coded the train percentage in `train_test_split`.

[2018-04-06 03:30] RyanZotti commented on #116
@zfhall No problem, my workload has also been pretty heavy lately. I went to the DIYRobocars event, and it was awesome! I plan to go to all of their future events. There were about 10-15 independently implemented self-driving toy cars and we did time trials and racing in a large industrial warehouse. Unfortunately my power supply died on me as soon as I got to the event and so I couldn't even get

[2018-04-08 21:30] zfhall commented on #116
@RyanZotti  Glad to hear you enjoyed the event! Sorry to hear about your power supply issue though. That must have been frustrating.

Thanks for the "virtual joystick" link! I'll definitely try to implement this at some point.  Using continuous target variables sounds very promising. I'm guessing this would drastically reduce the homogeneity in our datasets, in turn reducing overfitting? It would

[2018-04-08 21:31] zfhall commented on #120
Glad I could be of help!

[2018-04-11 22:44] zfhall commented on #116
It works!! I Just deployed a convnet with batch normalization, using only two convolutional + pooling layers, trained on my "clean" dataset.  At a slow enough speed, the car manages to complete several circuits of the track without disengaging. I never thought I'd get there!  Thanks, @RyanZotti !

[2018-04-14 20:05] Charlieglider opened #123 "Using a Servo motor for Steering"
I am attempting to implement a servo motor to steer the car.

This allows for more precise and variable turns, since the servo is able to turn to a specific angle instead of just switching directions (left or right in this case).

So far I have got the car to turn right and left when the corresponding arrow keys are pushed. However, when I press the up and down arrows the car doesn't move and the

[2018-04-14 21:06] zfhall commented on #123
Does the car move forward when you press left and right arrow keys? Or do the front wheels just turn?

Have you defined `self.pwm_forward` and `self.pwm_backward`?

[2018-04-14 21:56] Charlieglider commented on #123
@zfhall Just the front wheels turn, `self.pwm_forward` and `self.pwm_backward` are already defined.

The only changes made were the declaration of the servo, the SetAngle function and setting the angles inside of the def's, as posted above.

Thanks

[2018-04-16 05:07] CT83 opened #127 "A better walkthrough of the training data collection process?"
Could you please give me a clearer overview of how the training data was collected?
A brief run down of your tech stack for streaming and the Python files which were would greatly help.
I am currently using
`raspivid -n -t 0 -rot 270 -w 960 -h 720 -fps 30 -b 6000000 -o - | gst-launch-1.0 -e -vvvv fdsrc ! h264parse ! rtph264pay pt=96 config-interval=5 ! udpsink host=192.168.1.2 port=5000`
 to strea

[2018-04-16 05:16] RyanZotti commented on #127
It’s late at night on the West Coast right now, so I’m just going to post a short comment for now.

Very short answer: my data collection process really sucks (because it’s unitinuitive) and I’m currently refactoring it based on best practices from here: http://docs.donkeycar.com/guide/get_driving/. If you scroll down about half way on that page you’ll see a really slick mobile web UI that you can

[2018-04-16 05:24] RyanZotti commented on #123
I have also had the humming-but-no-movement issue before, but it’s been awhile since I last had that problem so I don’t recall the fix off the top of my head. I’ll reply back here if I remember though.

[2018-04-16 05:29] RyanZotti commented on #123
Actually, I had a temporary issue earlier today where I couldn’t turn but only move forward/backward, but that was due to crossed/touching wires (I did a poor job soldering and have exposed wire metal). As soon as I moved the wires apart from each other the car was able to turn again. Not sure if that’s your extact issue though. If it’s never worked for you I would also double check that you plugg

[2018-04-16 05:44] RyanZotti commented on #119
Yes, ffmpeg is definitely a huge pain to install. 2 years ago when I was trying to install it I tried countless different approaches (including skipping ffmpeg altogether). I tried so many things that I didn’t know which approach worked because my system had become a huge mess. Once ffmpeg worked though I never had to touch it again, so I’ve never had to relive the install pain and therefore haven

[2018-04-16 10:00] zfhall commented on #123
What motor control chip are you using?  The L293D and L298N cannot handle high current DC motors. If you are using one of these chips, it's likely that the voltage drop across them is so large when a load is applied, that there is next to no voltage being sent the motor.  Try the Cytron MD10C DC Motor Driver instead.

[2018-04-16 13:59] CT83 commented on #127
Okay, I am now reading more into the code and the readme. Respond with a thumbs up, so I know I am going in the right direction.
1. We install FFMPEG to stream video from RPi to PC
2. `Use stream_mjpeg_video.py` and display it using OpenCV streamer from `util.py` to confirm it is working.
3. Then basically `save_streaming_video_data.py` saves streamed video on local pc and the server logs the key

[2018-04-16 15:59] Charlieglider commented on #123
@RyanZotti I doubled checked the wiring and I don't see any issues. I can try a deep check.

@zfhall I am using the L293D motor contoller, but I don't know if thats the issue since the servo is connected to the RPI and there's only one motor being run from the controller.

I think it might be an issue with the edited code because after some more testing it seems that with my servo code up top- I g

[2018-04-16 22:38] zfhall commented on #123
@Charlieglider I may be missing something here, but if the motor connected to the L293D is used for forward/backward control, and you are having problems driving forward/backward, then the L293D could still be at fault. Does the forward/backward motor ever run continuously without cutting out? What car are you using? Does the DC motor (not servo) have a serial number? It sounds like you have the s

[2018-04-16 22:44] zfhall commented on #116
@RyanZotti Thanks mate! Ah yes, it would be interesting to see if you get similar results to me.  I need to update my fork of your repo when I get the chance, then you can see what I have done.

Keep up the good work man, I can see you have been bust updating things 👍

[2018-04-17 03:31] CT83 commented on #127
Not really relevant here but adding it incase someone else stumbled on this problem, I was using the code [here](https://github.com/hamuchiwa/AutoRCCar/issues/102), to capture the frames and stream back to the server.
I had used
`for _ in camera.capture_continuous(stream, 'jpeg'):`
instead of
`for _ in camera.capture_continuous(stream, 'jpeg', use_video_port=True):`
That was the source of the prob

[2018-04-17 12:27] zfhall commented on #123
@Charlieglider  Ah OK, that makes sense now.  I'll try and have another look at your issue when I next get the chance.  But I'm going to quite busy over the next few days so hopefully, someone else can chime in with a solution. Good luck!

[2018-04-17 15:48] Charlieglider commented on #123
@zfhall Ok, thank you.

[2018-05-10 11:42] heri opened #128 "drive_api.py does not show live feed?"
Based on the screenshot on README.MD, I was under the impression that a live video feed would be shown with the keyboard arrow keys.

drive_api.py only shows text, and I didn't see anything in the code that would make it show the feed webcam.mjpeg or the file output.mov

Or we are supposed to follow the car with a laptop and drive with the video?

Thanks

[2018-05-20 19:52] BerkantDlfz commented on #128
I had this problem .I replaced to ffmpeg with its old version and i solved.Because new ffmpeg version doesn't support ffserver.
You can use this commands :
sudo git clone https://git.ffmpeg.org/ffmpeg.git ffmpeg
cd ffmpeg
git checkout 2ca65fc7b74444edd51d5803a2c1e05a801a6023
./configure
make -j4

[2018-05-20 21:57] JoeWallCrypt0 commented on #128
Are you able to show a live video feed in the browser ? With the commands

[2018-05-20 22:02] BerkantDlfz commented on #128
Yesi I can

2018-05-21 0:57 GMT+03:00 JoeWallCrypt0 <notifications@github.com>:

[2018-05-20 22:28] BerkantDlfz commented on #128
my output like this.Frame window is not in a browser.It comes with another
tab.

2018-05-21 1:02 GMT+03:00 Berkant Dilfaz <berkantdilfaz@gmail.com>:

[2018-05-20 22:57] BerkantDlfz commented on #128
my output like this.Frame window is not in a browser.It comes with another
tab
![driving car](https://user-images.githubusercontent.com/22933747/40284610-36f25c44-5c9a-11e8-8e6b-78fd7ef2f062.png)

[2018-05-25 04:37] Charlieglider commented on #123
I know it has been a while since the last post on this issue.

Nonetheless, any ideas for getting this car to work with the servo?

[2018-06-21 12:35] iphton commented on #109
@zfhall How much your external storage were ? Mr. Ryan used 64 GB though. I used 16 GB SD card and faced storage problem when I installed necessary packages like OpenCV for Raspberry Pi.

Once I was giving a try with `Motion` to stream video and after running it shortly, my storage was full.

Once you've run the `ffserver` server and trying save streaming video, do we save it on Raspberry or PC ?

[2018-07-09 10:19] sid-pokhrel opened #129 "How to do data processing and model training on my own PC or laptop rather than AWS? Please help."

[2018-07-15 20:46] RyanZotti commented on #129
This is a broad question that doesn't really lend itself to a simple, 2-3 sentence answer, but I'll try anyways.

You only need AWS if you're training a large neural network, which takes an unreasonable amount of time to train on your laptop. The solution is to simply make a very small neural network. I've recently experimented with tiny 2-3 layer neural networks and can now train a model with goo

[2018-07-15 20:49] RyanZotti commented on #128
@BerkantDlfz That's very cool! Those are not actually the results I originally got, but that's pretty cool.

I've been slow to respond to these issues on GitHub because I'm in the middle of a massive multi-month code refactoring that will make all of this much easier. The new version will have a UI for showing the live stream of video and commands, but what you have shown here is a good substitute

[2018-07-21 05:56] thebaskota opened #130 "ai_drive not working from cnn trained models."
ai_drive works just fine for other models like glm and Ann but has errors when ran from cnn trained models.
the error is:
tensorflow.python.framework.errors_impl.InvalidArgumentError: You must feed a value for placeholder tensor 'Placeholder' with dtype float
	 [[Node: Placeholder = Placeholder[dtype=DT_FLOAT, shape=<unknown>, _device="/job:localhost/replica:0/task:0/device:CPU:0"]()]]

i think th

[2018-09-06 07:12] Nijisakai commented on #119
`wget https://ffmpeg.org/releases/ffmpeg-3.4.4.tar.bz2`
inside of
`git clone git://source.ffmpeg.org/ffmpeg.git`
will do the trick.

[2019-03-20 11:18] ugurcanakyuz opened #131 "ai_drive not working."
Hi @RyanZotti ,
Firstly thank you for your project. It's a great project. I'm following your steps and I am in the last step. However when I try to run ai_drive.py I've a trouble.
I trained cnn model by my computer. There are 4 files under the directory "/ tf_visual_data / runs / 2 / trained_model/" after training.
These files are checkpoint, model.ckpt.data, model.ckpt.index, model.ckpt.meta.
I g

[2019-05-15 02:11] adhityan1997 opened #132 "model"
can i get pre trained model for this architecture

[2019-09-24 13:29] yellowfighter2333 commented on #128
Hi,i have the same problem.How did you get the arrow_key in your screen?Without it,the car  seems not drive.

[2019-12-02 12:35] thebaskota commented on #130
Nevermind, Solved it.

[2020-02-18 11:56] hunter6399 opened #133 "localhost/drive not found"
![2020-02-18-165404_1600x900_scrot](https://user-images.githubusercontent.com/36127367/74733605-ae2aa080-5272-11ea-8066-5c94b182dd1e.png)

_only works on pi_

I'm using L298N dual driver is this the problem?(right now ENA,INA1,INA2,INB1.INB2.ENB are connected to 16,18,22,19,21,23)
Also, save_streaming_data.py only works when pi is connected via an HDMI to a monitor on remote execution(SSH) I get
*

[2020-02-19 05:55] hunter6399 commented on #133
using different ports for ffmpeg(8090) and a different port for drive_api(81) worked just fine.

[2020-02-19 05:55] #133 closed

[2020-03-14 14:56] hunter6399 opened #134 "Dataprep error"
I'm trying to reproduce the training process
I have saved all the training files in ~/Self-Driving-Car/data

When I run Save-all_runs_as_numpy.py
I get the following error

`Started work on clean_session.txt
b'/home/hunter/Self-Driving-Car/data/clean_session.txt'
Traceback (most recent call last):
  File "save_all_runs_as_numpy_files.py", line 29, in <module>
    predictors, targets = process_sess

[2020-04-29 11:46] hunter6399 commented on #134
it was because the video timestamps did not match the clean session time stamps . After Cleaning the data the script works just fine.

[2020-04-29 11:46] #134 closed

[2022-03-07 13:12] #109 closed

[2022-03-07 13:13] #110 closed